{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load bootstrap4 %}



{% block content %}

<div class="container">
    <!-- <a href="{% url 'new-authorities' %}" id="sec-btn">Make a security post</a> -->
    <div class="row">
        <div class="col-md-12 top-div" style="margin-top:40px;"></div>
    </div>

    <div class="row">
        {% for authority in authorities %}
        <div class="col-md-12" style="margin-bottom: 5%;">
            <div class="card" id="card-blog">
                <div class="card-body">
                    <p>{{ authority.neighbourhood }}</p>
                    <p>{{ authority.name }}</p>
                    <p>{{ authority.contact }}</p>
                    <p>{{ authority.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}