{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}

<div class="container">
    <a href="{% url 'new-business' %}" id="post-bzz">Post a business</a>
    <div class="row">
        {% for business in businesses %}
        <div class="col-md-4" style="margin-top: 5%;">
            <div class="card" id="bz-card">
                <img src="{{business.logo.url}}" alt="" id="bz-img">
                <div class="card-body">
                    <p class="card-title" data-toggle="modal" data-target="#{{business.id}}">
                        {{business.name}}</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> {{business.email}}</p>
                    <p><i class="fa fa-address-card-o" aria-hidden="true"></i> {{business.address}}</p>
                    <p><i class="fa fa-mobile" aria-hidden="true"></i> {{business.contact}}</p>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}