{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}

<div class="container">
    <a href="{% url 'new-education' %}" id="post-bzz">Post a education</a>
    <div class="row">
        {% for education in educations %}
        <div class="col-md-4" style="margin-top: 5%;">
            <div class="card" id="bz-card">
                <img src="{{education.logo.url}}" alt="" id="edu-pics">
                <div class="card-body">
                    <h4 class="card-title">{{education.name}}</h4>
                    <p><i class="fa fa-home" aria-hidden="true"></i>  {{education.neighbourhood}}</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> {{education.email}}</p>
                    <p><i class="fa fa-mobile" aria-hidden="true"></i> {{education.contact}}</p>
                    <p><i class="fa fa-address-card-o" aria-hidden="true"></i> {{education.address}}</p>

                </div>
            </div>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock %}
