<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg " style="background-color: black; color: white !important;">

        <div class="container">
            <!-- Navbar brand -->
            <a class="" href="/" style="color: white;">Hood</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation"
                style="color: white !important; background-color: white !important;">
                <span class="navbar-toggler-icon"
                    style="background-color: black !important; color: black !important;"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">
                {% if user.is_authenticated %}
                <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li >
                        <a class="nav-link" href="/" style="color: white;">Home

                        </a>
                    </li>

                    <li >
                        <a class="nav-link" href="{% url 'user_dashboard' %}" style="color: white;">Dashboard

                        </a>
                    </li>

                    <!-- Activites Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="color: white;">Hood_activites</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'businesses'%}">Business</a>
                            <a class="dropdown-item" href="{% url 'education'%}">Education</a>
                            <a class="dropdown-item" href="{% url 'authorities'%}">Police</a>
                            <a class="dropdown-item" href="{% url 'blog'%}">Blog</a>
                            
                        </div>
                    </li>


                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color: white;"><i class="fa fa-user"
                        aria-hidden="true"></i></a>
                        
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'my-profile'%}">Profile</a>
                            <a class="dropdown-item" href="/logout">logout</a>
                            {% else %}
                            <a class="dropdown-item" href="/accounts/login">Sign In</a>
                            {% endif %}

                        </div>
                    </li>

                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </div>
        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

</body>

</html>