<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_dashboard' %}"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
            </li>
        </ul>

        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'system_users' %}"><i class="fa fa-file-text" aria-hidden="true"> </i> Admins</a>
            </li>
        </ul>
    </div>
</nav>